[submodule "api"]
	path = api
	url = https://github.com/publicdomainmap/api.git
	shallow = true
[submodule "openstreetmap-cgimap"]
	path = openstreetmap-cgimap
	url = https://github.com/publicdomainmap/openstreetmap-cgimap.git
	shallow = true
